<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Todo List app</title>
    <link rel="stylesheet" href="app.css"/>
</head>
<body>

<a href="#about">About...</a><br/>

<script type="text/template" id="todoTemplate">
    <input type="checkbox" <% if(done) { %> checked <% } %>/><span><%- title %></span>
    <img class="delete" src="https://cdn2.iconfinder.com/data/icons/vaga/trash.png"/>
    <img class="edit"   src="http://docs.colabolo.com/docs/download/attachments/2065185/icon_edit_small.png"/>
</script>

<script type="text/template" id="aboutTemplate">
    <h1>About</h1>
</script>

<script type="application/javascript" src="lib/jquery.js"></script>
<script type="application/javascript" src="lib/underscore.js"></script>
<script type="application/javascript" src="lib/backbone.js"></script>
<script type="application/javascript" src="app/Utils.js"></script>
<script type="application/javascript" src="app/model/Todo.js"></script>
<script type="application/javascript" src="app/model/TodoList.js"></script>
<script type="application/javascript" src="app/model/TodoView.js"></script>
<script type="application/javascript" src="app/model/InputView.js"></script>
<script type="application/javascript" src="app/model/TodoListView.js"></script>
<script type="application/javascript" src="app/model/TodoTotView.js"></script>
<script type="application/javascript" src="app/model/TodoTotDoneView.js"></script>
<script type="application/javascript" src="app/model/TodoEditView.js"></script>
<script type="application/javascript" src="app/model/AboutView.js"></script>
<script type="application/javascript" src="app/Router.js"></script>
<script type="application/javascript" src="app/Main.js"></script>

</body>
</html>