<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Todo List app</title>
    <link rel="stylesheet" href="app.css"/>
</head>
<body>

<h1>Ricevute</h1>

<script type="text/template" id="ricevutaNewTemplate">
    <input id="description" type="text" /> - <input id="amount" type="text" /> - <input id="date" type="date" />
    <button class="button">Aggiungi</button>
</script>

<script type="text/template" id="ricevutaTemplate">
    <p><%- descrizione %> -  <span><%- importo %></span> - <span><%- date %></span>
        <span><img class="delete" src="https://cdn2.iconfinder.com/data/icons/vaga/trash.png"/></span>
        <span><img class="edit"   src="http://docs.colabolo.com/docs/download/attachments/2065185/icon_edit_small.png"/></p>
</script>


<script type="application/javascript" src="lib/jquery.js"></script>
<script type="application/javascript" src="lib/underscore.js"></script>
<script type="application/javascript" src="lib/backbone.js"></script>
<script type="application/javascript" src="app/Utils.js"></script>

<!--Ricevute -->


<script type="application/javascript" src="app/Ricevuta/RicevutaModel.js"></script>
<script type="application/javascript" src="app/Ricevuta/RicevutaListCollection.js"></script>

<script type="application/javascript" src="app/Ricevuta/RicevutaNewView.js"></script>
<script type="application/javascript" src="app/Ricevuta/RicevutaView.js"></script>
<script type="application/javascript" src="app/Ricevuta/RicevutaListView.js"></script>

<script type="application/javascript" src="app/Ricevuta/Router.js"></script>
<script type="application/javascript" src="app/Ricevuta/Main.js"></script>

</body>
</html>
